<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Viestiketju</title>
        <meta charset="utf-8" />
        <style>
            table {
                border-collapse: collapse;
            }
            table, th, td {
                border: 1px solid black;
            }
        </style>
    </head>

    <body>

        <p> Viestiketju aiheesta:  <span th:text="${viestiketju.otsikko}">viestiketju</span></p>

        
                    
            
                <th:block th:each="viesti: ${viestit}">
                <table style="width:60%">
                     <tr>
                        <td width="70%" th:text="${viesti.lahettaja}">Lahettaja"</td>
                        <td width="30%" th:text="${viesti.viestinaika}">Aika"</td>
                    </tr>
                </table>
                <table style="width:60%" height="30">
                    <tr>
                        <td width="100%" th:text="${viesti.viesti}">Viesti"</td>
                    </tr> 
                </table>
                    <p></p>
                </th:block>
            

         <form method="POST">
            <h> Kommentoi aihetta </h>
       
            <p> Viesti </p>
            <textarea name="viesti" cols="60" rows="4"></textarea>
            <p> Lahettaja </p>
            <input type="text" name="lahettaja"/>
            <input type="submit" value="Lähetä"/>
         </form>
        
        
    </body>
</html>