<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Keskustelupalsta</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Tervetuloa foorumille, alla näet viestialueet</h1>

        <ol>
            <li th:each="viestialue: ${viestialueet}">
                <span th:text="${viestialue.nimi}">Viestialueen nimi" </span> <span th:text="${viestialue.lkm}">Lukumaara" </span> <span th:text="${viestialue.last}"> Viimeisin viesti" </span> <a th:href="${'/viestialueet/' + viestialue.id}">linkki</a>
            </li>
        </ol>
        <form method="POST">
            <input type="text" name="nimi"/>
            <input type="submit" value="lisää alue!"/>
        </form>
    </body>
</html>
